p,
li{
color: dark gray;
width: 800px;
font-size: 25px;
font-family: Courier New;

}
h1{
color: black;
font-family: Courier New;
font-size: 50px;
text-align: center;
line-height: 0;
letter-spacing: 4px;
margin: 0;
padding: 20px 0;
color: #050505;
text-shadow: 3px 3px 1px gray;
}
html{
background-color: #3b3636;

}
body{
width: 800px;
margin: 0 auto;
background-color: #c9c1c1;
padding: 0 20px 20px 20px;
border: 5px solid black;
}
img{
display: block;
margin: 0 auto;



}
h2{
font-size: 25px;



  
}
